<?php 
	$this->start('title');
	echo __('Accès superviseur');
	$this->end(); 

?>

    <div id="login-container">
        <h1 class="h2 text-light text-center push-top-bottom animation-pullDown">
            <img src="<?php echo Router::url('/', true); ?>img/logo_lafarge.png" class="logo-login">
        </h1>
        <h1 class="text-light text-center push-top-bottom animation-pullDown text-black">
            Accès superviseur
        </h1>
        <div class="block animation-fadeInQuick border-lafarge">
            <?php echo $this->Form->create('Supervisor', array('url' => array('action' => 'index'), 'class' => 'form-horizontal', 'id' => 'form-login', 'novalidate' => 'novalidate')); ?>
                <div class="form-group">
                    <label for="login-username" class="col-xs-12">Identifiant</label>
                    <div class="col-xs-12">
                        <input type="text" id="login-username" name="username" class="form-control" placeholder="Votre numéro">
                    </div>
                </div>
                <div class="form-group">
                    <label for="login-password" class="col-xs-12">Mot de passe</label>
                    <div class="col-xs-12">
                        <input type="password" id="login-password" name="password" class="form-control" placeholder="Votre mot de passe..">
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-4 text-right">
                        <button type="submit" class="btn btn-effect-ripple btn-sm btn-success text-white">Connexion</button>
                    </div>
                </div>
            <?php echo $this->Form->end(); ?>
        </div>
    </div>
        
        
<?php
echo $this->Html->css('user.login');

