/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 juil. 2019, 14:31:53
    Author     : isoluce
*/


/*****************/
/* FORMULAIRE */
/*****************/
.form-text-phone,
.form-text-email,
.input-text-lastname
.form-text-lastname{
    padding-left: 0px !important;
}

.input-text-name{
    padding-right: 0px !important;
}

.input-text-phone,
.form-text-fonction,
.input-text-fonction,
.input-text-email{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

@media screen and (max-width: 767px){
    .form-text-phone,
    .input-text-phone
    .form-text-fonction,
    .input-text-fonction,
    .input-text-email,
    .form-text-email
    {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .input-text-name{
        padding-left: inherit !important;
        padding-right: inherit !important;
    }
}

/*****************/
/* FORMULAIRE */
/*****************/
#page-content {
    background-color: #e0e0e0;
}

.referent-mobile{
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px){
    /* Titre formulaire */
    .nav-justified > li {
        float: inherit !important;
        text-align: center;
    }
    /* Chantier */
    .adress-mobile{
        margin-bottom: 10px;
    }
    .upload-mobile{
        text-align: center;
    }
    .upload-plan{
        margin-bottom: 10px;
    }
    /* Produit */
    
}

.add-title-link {
    pointer-events: pointer;
}

.add-title-link.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/*****************/
/* STEP 1 */
/*****************/

#map_step1 {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    touch-action: pan-x pan-y;
    height: 400px;;
}

/*****************/
/* STEP 3 */
/*****************/

#map_step3 {
    position: relative;
}

#pop_up {
    border-style: solid;
    border-radius: 8px;
    border-width: medium;
    border-color: #18673f;
    
    opacity: 0.9;

    text-align: center;
    color: black;
    position:absolute;
    background-color: white;

    top:50%;
    left:50%;
    width:250px;
    height:150px;
    margin-left:-125px;
    margin-top:-140px;
}

.valid_btn {

    height:20px;
    width:60px;

    border: none;
    color: white;

    text-decoration: none;
    display: inline-block;

    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-top: 25px; 
}

/*****************/
/* STEP 4 */
/*****************/

#map_step4 {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    touch-action: pan-x pan-y;
    height: 600px;;
}

.info-step4 h4 {
    font-size: 14px;
    font-weight: 600;
}

.info-step4 .address,
.info-step4 .position,
.info-step4 .phone,
.info-step4 .products {
    font-size: 12px;
    margin: 5px 0;
}

.info-step4 .product {
    display: block;
    border-bottom: 1px solid #80808036;
}