

/*
============================================================================================================================================================
============================================================================================================================================================
============================================================================================================================================================
BRICE
============================================================================================================================================================
============================================================================================================================================================
============================================================================================================================================================
*/

/*****************/
/* GENERAL */
/*****************/

/* Vert Lafarge */
.text-specific,
.text-specific:hover,
a.text-specific,
a.text-specific:hover,
a.text-specific:focus,
.pagination > li > a, 
.pagination > li > span,
.control-label a,
.nav-pills > li.active > .step-number
{
    color: #249059;
}

.themed-background-specific,
.a-minimize:hover, 
.navbar-specific .navbar-nav > li > a:hover,
.navbar-specific .navbar-nav > li > a:focus,
.navbar-specific .navbar-nav > .active > a,
.navbar-specific .navbar-nav > .active > a:hover,
.navbar-specific .navbar-nav > .active > a:focus,
.navbar-specific .navbar-nav > .open > a,
.navbar-specific .navbar-nav > .open > a:hover,
.navbar-specific .navbar-nav > .open > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.btn-specific,
.btn-specific:active,
.btn-specific.active,
.open .btn-specific.dropdown-toggle,
.btn-specific.disabled,
.btn-specific.disabled:focus,
.btn-specific.disabled:active,
.btn-specific.disabled.active,
.btn-specific[disabled]:focus,
.btn-specific[disabled]:active,
.btn-specific[disabled].active,
fieldset[disabled] .btn-specific:hover,
fieldset[disabled] .btn-specific:focus,
fieldset[disabled] .btn-specific:active,
fieldset[disabled] .btn-specific.active,
.pager > li > a:hover, 
.pagination > li > a:hover,
.bootstrap-timepicker-widget table td a:hover,
.chosen-container .chosen-results li.highlighted,
.fc-state-default,
.chosen-container-multi .chosen-choices li.search-choice,
.table.table-pricing th,
.datepicker table tr td.active.active,
.activeBtn,
.anno-btn,
.btn-success,
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus, 
.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus,
.switch-primary input:checked + span,
.btn-primary,
.switch-success input:checked + span,
.datepicker table tr td.active.active, 
.datepicker table tr td.active:hover.active
{
    background-color: #249059;
}

.btn-success,
.btn-specific,
.btn-specific:focus,
.btn-specific:active,
.btn-specific.active,
.open .btn-specific.dropdown-toggle,
.btn-specific.disabled,
.btn-specific.disabled:focus,
.btn-specific.disabled:active,
.btn-specific.disabled.active,
.btn-specific[disabled]:hover,
.btn-specific[disabled]:focus,
.btn-specific[disabled]:active,
.btn-specific[disabled].active,
fieldset[disabled] .btn-specific:focus,
fieldset[disabled] .btn-specific:active,
fieldset[disabled] .btn-specific.active,
.fc-state-default,
.chosen-container-multi .chosen-choices li.search-choice,
.table.table-pricing.table-featured,
.table.table-pricing:hover,
.form-control:active,
.form-control:focus,
.themed-background-profile,
.border-lafarge,
.btn-primary,
.delete-profil:hover
.chosen-container .chosen-drop
{
    border-color: #249059;
}

/* Vert Lafarge Hover */
.text-specific:hover
{
    color: #18673f;
}

.nav.navbar-nav-custom > li > a:hover, 
.navbar-specific .navbar-nav > li > a:hover,
.btn-specific.disabled:hover,
.btn-specific:hover,
.btn-specific[disabled]:hover,
div.tagsinput span.tag,
.link-active-hover,
.anno-btn:hover,
.btn-success:hover,
.btn-primary:hover
{
    background-color: #18673f;
}

.btn-success:hover,
.has-error .form-control, 
.has-error .input-group-addon,
.form-control:hover,
.btn-primary:hover
{
    border-color: #18673f;
}

/*  Blanc Color */
.text-sidebar-bottom, 
.header-typo,
.sidebar-nav a,
.navbar.navbar-specific,
.navbar.navbar-specific.navbar-glass:hover,
.navbar-specific .navbar-nav > li > a:hover,
.navbar-specific .navbar-nav > li > a:focus,
.navbar-specific .navbar-nav > .active > a,
.navbar-specific .navbar-nav > .active > a:hover,
.navbar-specific .navbar-nav > .active > a:focus,
.navbar-specific .navbar-nav > .open > a,
.navbar-specific .navbar-nav > .open > a:hover,
.navbar-specific .navbar-nav > .open > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.btn-specific,
.btn-specific:hover,
.btn-specific:focus,
.btn-specific:active,
.btn-specific.active,
.open .btn-specific.dropdown-toggle,
.btn-specific.disabled,
.btn-specific.disabled:hover,
.btn-specific.disabled:focus,
.btn-specific.disabled:active,
.btn-specific.disabled.active,
.btn-specific[disabled]:hover,
.btn-specific[disabled]:focus,
.btn-specific[disabled]:active,
.btn-specific[disabled].active,
fieldset[disabled] .btn-specific:hover,
fieldset[disabled] .btn-specific:focus,
fieldset[disabled] .btn-specific:active,
fieldset[disabled] .btn-specific.active,
.text-white,
.anno-btn-low-importance,
.alt-menu a,
.alt-menu a:hover,
.alt-menu:hover i,
.text-white,
.delete-profil:hover,
.text-white
{
    color: #FFF !important;
}

/* Noir */
.text-black,
.navbar-inverse .nav.navbar-nav-custom > li > a,
.dropdown-menu > li > a:hover
{
    color: #000 !important;
}

.delete-profil:hover
{
    background-color: #000 !important;
}

/* Blanc Background-color */
.form-bordered 
.form-group.form-actions
{
   background-color: #fff !important;
}

/* Gris */
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus
{
        background: rgba(0, 0, 0, .15);
}

/* Border */
.themed-background-profile,
.border-lafarge{
    border-width: 2px; 
    border-style: solid;
}

.border-bottom-0{
    border-bottom: 0px !important;
}

/* Ombre */
.btn-specific, 
.btn-danger, 
.btn-success, 
.btn-warning, 
.btn-info,
.btn-shadow,
.shadow,
.anno-btn,
.themed-background-profile
{
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2)  !important;
}

/* Ombre Survol */
.btn-specific:hover, 
.btn-specific:focus, 
.btn-specific:active, 
.btn-specific.active, 
.open .btn-specific.dropdown-toggle, 
.btn-success:hover,
.btn-danger:hover,
.btn-shadow:hover,
.btn-shadow-hover:hover,
.shadow:hover,
.anno-btn:hover,
.themed-background-profile:hover
{
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3)  !important;
}

/* Suppression Ombre origine */
.block {
    box-shadow: inherit !important;
}

/* Transition Duration */
.smooth-transition,
.smooth-transition:hover,
.btn-specific, 
.btn-danger, 
.btn-success, 
.btn-warning, 
.btn-info,
.btn-shadow,
.shadow,
.anno-btn,
.btn-specific:hover, 
.btn-specific:focus, 
.btn-specific:active, 
.btn-specific.active, 
.open .btn-specific.dropdown-toggle, 
.btn-success:hover,
.btn-danger:hover,
.btn-shadow:hover,
.btn-shadow-hover:hover,
.shadow:hover,
.anno-btn:hover,
.themed-background-profile:hover,
.themed-background-profile,
.btn-primary,
.btn-primary:hover
{
    -webkit-transition-duration: 0.5s !important;
            transition-duration: 0.5s !important;
}

/* Border Radius */
.border-radius-0,
.btn,
.block,
.form-control,
.widget > .widget-content:first-child, 
.widget > .widget-image:first-child,
.label,
.panel,
.fc-state-default.fc-corner-right,
.fc-state-default.fc-corner-left,
.dropzone,
.bootstrap-timepicker input{
    border-radius: 0px !important;
}

/* Texte Decoration */
.text-decoration-none,
.alt-menu a,
.alt-menu a:hover,
.select-profile:hover{
    text-decoration: none !important;
}

/* Desactivation d'un lien ' */
.disabled-link{
  cursor: default;
  text-decoration: none;
}

/* Suppression Effet Hover APPUI */
a.widget:hover, 
a.widget:focus, 
a.widget-content:hover, 
a.widget-content:focus{
    -webkit-transform: inherit;
            transform: inherit;
}

/* Font weight & text */
.weight-bold{
    font-weight: bold !important;
}

.weight-semibold{
    font-weight: 600 !important;
}

label{
    font-weight: 400 !important;
}

@media screen and (max-width: 767px){
    .text-center-mobile{
        text-align: center !important;
        width: 100% !important;
        margin: auto !important;
    }
}

/*****************/
/* Margin & Padding & Width */
/*****************/

.padding-0{
    padding: 0px !important;
}

.padding-top-0{
    padding-top: 0px !important;
}

.padding-top-20{
    padding-top: 20px !important;
}

.padding-bottom-20{
    padding-bottom: 20px !important;
}

.padding-left-0{
    padding-left: 0px !important;
}

.padding-right-0{
    padding-right: 0px !important;
}

.margin-bottom-0{
    margin-bottom: 0px !important;
}

.margin-bottom-10{
    margin-bottom: 10px !important;
}

.margin-bottom-20{
    margin-bottom: 20px !important;
}

.margin-bottom-40{
    margin-bottom: 40px !important;
}

.margin-bottom-80{
    margin-bottom: 80px !important;
}

.margin-bottom-120{
    margin-bottom: 120px !important;
}

.margin-top-5{
    margin-top: 5px !important;
}

.margin-top-20{
    margin-top: 20px !important;
}

@media screen and (max-width: 767px){
    .margin-bottom-10-mobile{
        margin-bottom: 10px !important;
    }
    
    .margin-bottom-20-mobile{
        margin-bottom: 20px !important;
    }
}

.width-100{
    width: 100% !important;
}

@media screen and (max-width: 767px){
    .width-100px{
        width: 100px !important;
    }
}


/* Header */
.navbar.navbar-inverse, 
.navbar.navbar-inverse.navbar-glass:hover,
.navbar.navbar-inverse.navbar-glass{
    left: 0px;
    background-color: #f9fafb;
    border-bottom: 3px solid #dae0e8;
}

/* Select */
.select-button{
    padding: 6px !important;
    background-color: #fff;
    width: 100% !important;
    border-color: #dae0e8  !important;
}

.step-number{
    pointer-events: none;
    cursor: none;
    font-size: 25px;
    background-color: inherit !important;
    border-width: 2px;
    border-style: solid;
    padding: 0px !important;
    width: 40px;
    border-radius: 50% !important;
    margin: auto;
    margin-bottom: 10px !important;
}