/*****************/
/* LOGIN */
/*****************/

/* Logo */
.logo-login {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 767px){
    .btn-sm, .btn-group-sm > .btn {
        padding: 3px 5px !important;
    }
}
