/*****************/
/* PROFILE */
/*****************/

.profile-container{
    width: 100% !important;
    top: 430px !important;
    margin-left: 0px !important;
    left: 0 !important;
    padding: 0px 20% !important;
}
    
.login-profile{
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 45px;
    font-style: italic;
    background-color: #249059;
    color: #fff;
}

.add-login-profile{
    font-style: inherit;
    font-size: 60px;
    font-weight: bold;
}

.themed-background-profile{
    background-color: rgba(255, 255, 255, 0.7);
}

.themed-background-profile:hover{
    outline: 2px solid #249058;
    outline-offset: -4px;
    background-color: rgba(255, 255, 255, 1);
        -webkit-transition-duration: 0.1s !important;
            transition-duration: 0.1s !important;
}


@media screen and (max-width: 767px){
    .profile-container {
        top: 300px !important;
    }
    .select-profile{
        margin-bottom: 20px;
    }
}

/* Bloc suppression profil */
 
.delete-profil {
    display: block;
    font-size: 20px;
    width: 100%;
    height: 35px;
    line-height: 25px;
    text-align: center;
    background-color: #00000070;
    color: #FFF;
    padding-top:5px;
}

/* Animation bloc suppression profil */

.profil .delete-profil{
    opacity: 0;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
    
.profil:hover .delete-profil{
    opacity: 1;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 767px){
    .delete-profil{
        opacity: 1 !important;
    }
}
